.paginadoContainer{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    margin:10px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px rgb(165, 134, 223);
    color: rgb(129, 115, 179);
}
.currentPag{
    width: 30px;
    
}
.currentPag:hover{
    cursor: pointer;
    background-color: rgb(161, 132, 189);
    color: white;
}